<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1031941894339-hfea441ffe83rukb1efrc01ejmjkn5kk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1031941894339-hfea441ffe83rukb1efrc01ejmjkn5kk</string>
	<key>API_KEY</key>
	<string>AIzaSyC20WVSmTDZRMeA90csk4Ywgb5t5lhjeEM</string>
	<key>GCM_SENDER_ID</key>
	<string>1031941894339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rukiyesenturk.Yummy</string>
	<key>PROJECT_ID</key>
	<string>yummy-be266</string>
	<key>STORAGE_BUCKET</key>
	<string>yummy-be266.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031941894339:ios:7b3279e8aba566d1d63276</string>
</dict>
</plist>